.player {
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: linear-gradient(to top right, #111224, 5%, #131217);
    z-index: 1100;
}
.volume{
    margin-left: auto;
}

