* {
    margin: 0;
}

.main {
    margin: 0px;
    /*background: #101012;*/

}
h1 {
    color: #cccccc;
}
.center {
    /*margin-top: 40%;*/
    display: flex;
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}