.appBar {
    background: #101012;
    border: 0;
    border-right: none;
}

.leftBar {
    background: #101118;
    color: white;
    height: 92%;
    position: absolute;
}

.icon {
    color: white;
}
